@page
@model RazorAjax3UseCasesEnd.Pages.Person.ViewModel
@{
}

<div class="card">
    <div class="card-header">
        <h1>@Model.Name</h1>
    </div>
    <div class="card-body">
        <table class="table" id="posts-table">
            <tr>
                <th style="text-align:left">Manufacturer</th>
                <th style="text-align:left">Model</th>
                <th style="text-align:left">Type</th>
                <th style="text-align:left">Fuel</th>
                <th style="text-align:left">Boughtdate</th>
                <th style="text-align:left"></th>
            </tr>
            <tbody>
                @foreach (var car in Model.Cars)
                {
                    <tr>
                        <td>@car.Manufacturer</td>
                        <td>@car.Model</td>
                        <td>@car.Type</td>
                        <td>@car.Fuel</td>
                        <td>@car.BoughtDate.ToShortDateString()</td>
                        <td>
                            <a onclick="javascript:fetchEvaluation(@car.Id, this)"
                               class="btn btn-primary">
                                Get value
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        function fetchEvaluation(id, elem) {
            fetch("View?handler=FetchValue&id=" + id)
                .then((response) => response.json())
                .then((json) => {
                    elem.innerHTML = json.value + "kr";
                });
        }
    </script>
}

